
html{
	height: 100%;
	overflow: auto;
}

body{
	height: 100%;
	font-family: 'monospace';
	background-color: black;
}

#app{
	height: 100%;
	margin-top: 100px;
}

.custom-grey{
	color: #d3d3d3;
}

.title{
	margin-bottom: 20px;
	margin-top: :50px;
}

.white{
	color: white;
}
